.dflex{
    display: flex;
}
.dflex-col{
    display: flex;
    flex-direction: column;
}
.jcc{
    justify-content: center;
}
.jcs{
    justify-content: flex-start;
}
.jce{
    justify-content: flex-end;
}
.jcse{
    justify-content: space-evenly;
}
.jcsa{
    justify-content: space-around;
}
.jcsb{
    justify-content: space-between;
}
.jcs{
    justify-content: stretch;
}
.aic{
    align-items: center;
}
.aie{
    align-items: flex-end;
}
.ais{
    align-items: flex-start;
}
.ais{
    align-items: stretch;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}

.vh100{
    height: 100vh;
}
.wh100{
    width: 100vw;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}
.h-75{
    height: 75%;
}
.h-100{
    height: 100%;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}

.overlay-design{
    $margin:20px;
    position: relative;
   .overlay{
        position: absolute;
        color:transparent;
        font-size: 120px;
        font-weight: 800;
        z-index: -1;
        letter-spacing: 5px;
        line-height: 0px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(50,100,50,0.2);
   }
    .title{
        font-size: 20px;
        color: green;
        font-weight: 700;
        margin-left: $margin;
    }
    .title::before{
        content: '';
        padding-left: 30px;
        border-left: 5px solid green;
    }
    .sub-title{
        margin-top: 20px;
        font-size: 35px;
        font-weight: 600;
        line-height: 35px;
        margin-left: $margin;
    }
    .content{
        margin-top: 20px;
        margin-left: $margin;
        color: rgba(0,0,0,0.5);
        line-height: 25px;
    }
}