@media only screen and (max-width: 1330px) {
  .why-us .overlay-design .overlay {
    font-size: 80px;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .topSlider-caption {
    margin: 0 80px;
  }
}

@media only screen and (max-width: 992px) {
  .topSlider .topSlider-caption {
    margin: 0 50px;
  }
  .topSlider .topSlider-caption .title {
    font-size: 30px;
  }
  .topSlider .topSlider-caption .content {
    font-size: 20px;
  }
  .topSlider .banner .container {
    width: 90%;
  }
  .topSlider .banner .container .logo .responsive-img {
    height: 80px;
  }
  .topSlider .menus .container {
    width: 90%;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-content {
    margin: 0;
    margin-top: 100px;
  }
  .why-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-us .overlay-design .overlay {
    font-size: 120px;
    letter-spacing: 5px;
  }
  .why-us .why-us-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .why-us .why-us-content {
    margin: 0;
    margin-top: 100px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 700px) {
  .topSlider .menus {
    display: none;
  }
  .experience-bar .display-toogle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience-bar .display-toogle .items {
    margin: 10px 0;
    text-align: center;
  }
  .why-us .overlay-design .overlay {
    font-size: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .solarSolution .display-toogle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 300;
  }
  .solarSolution .display-toogle .content {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .solarSolution .display-toogle .content .social {
    margin: 10px;
  }
  .topSlider .banner .container .logo .responsive-img {
    height: 50px;
  }
  .topSlider .topSlider-caption .display-toogle {
    display: unset;
    position: relative;
    left: -30px;
    top: 30px;
  }
  .topSlider .topSlider-caption .title {
    font-size: 20px;
  }
  .topSlider .topSlider-caption .content {
    font-size: 15px;
    margin: 10px 0;
  }
  .topSlider .topSlider-caption .btn-large {
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 12px;
  }
  .about {
    margin: 10px;
  }
  .about .overlay-design .overlay {
    font-size: 80px;
  }
  .about .about-img .responsive-img {
    height: 200px;
  }
  .why-us {
    margin: 10px;
  }
  .why-us .overlay-design .overlay {
    font-size: 80px;
  }
  .why-us .overlay-design .content {
    line-height: 15px;
  }
  .why-us .why-us-content .content .cards {
    position: relative;
    left: -10px;
    margin: 5px 0;
    padding: 15px 0px;
  }
  .why-us .why-us-content .content .cards .card-content {
    font-weight: 400;
  }
  .why-us .why-us-content .content .cards .card-icon {
    margin: 10px;
  }
  .why-us .why-us-content .content .cards .card-icon i {
    width: 25px;
    height: 25px;
  }
}
/*# sourceMappingURL=responsive.css.map */