@import 'materialize';
*{
    transition:.1s;
}

.topSlider{
    position: relative;
    .background-img{
        .shadow{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
            z-index: -1;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -2;
            
        }
    }
    
    .solarSolution{
        font-weight: 600;
        .display-toogle{
            display: flex;
            align-items: center;
        }
        .container{
            width:80%;
            color: white;
            .content div:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            .content img{
                margin:0 5px;
                cursor: pointer;
            }
        }
    }

    .banner{
        .container{
            width: 80%;
            background-color: white;
            padding:20px;
            .content{
                .phone{
                    margin-left: 20px;
                    div img{
                        margin: 0 10px;
                    }
                    .time{
                        font-weight: bold;
                    }
                    .number{
                        font-weight: 600;
                    }
                }
                .button{
                    box-sizing: border-box;
                }
                .button button{
                    position: relative;
                    width: 100%;
                    margin: 0px 0px 0 20px;
                    text-transform: capitalize;
                    z-index: 1;
                    font-weight: bold;
                
                }
                .button button:hover::before{
                    width: 100%;
                    transition:1s;
                    transition-timing-function: ease-in-out;
                }
                .button button::before{
                    content: " ";
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background-color: rgb(2, 95, 95);
                    left: 0;
                    top:0;
                    z-index: -1;
                }
            }
        }
    }
    
    .menus{
        .container{
            width:80%;
            background-color: rgb(79, 79, 252);
            color:white;
            .menu{
                position: relative;
                margin: 15px 20px;
                font-weight: bold;
                border-bottom:1px solid transparent;
                cursor: pointer;
            }
            .menu:hover::before{
                transition: 1s;
                width:50%;
                border-bottom:1px solid white;
                cursor: pointer;
            }
            .menu::before{
                content: '';
                position: absolute;
                width: 0%;
                height:100%;
                background-color: transparent;
                border-bottom: 1px solid white;
            }
          
        }
    }

 
    .dropdown-content{
        background-color: rgb(79, 79, 252);
        // border:10px solid  rgb(79, 79, 252);
        font-weight: 600;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        li{
            a{
                color:white
            }
        }
    }
    .dropdown-content li:hover{
        background-color: rgb(60, 60, 200);
    }

    .topSlider-caption{
        color:white;
        .display-toogle{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title{
            font-size: 35px;
            font-weight: 800;
        }
        .content{
            margin: 20px 0;
        }
        button{
            font-weight: bold;
        }
    }
}

.experience-bar{
    background-color: #333;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    .display-toogle{
        display:flex
    }
    .items{
        margin: 0 20px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-self: center;
        div img{
            width: 100%;
            height: 100%;
        }
        .item{
            .title{
                font-weight: 800;
                font-size: 50px;
                color:orangered;
            }
            .content{
                font-weight: 600;
                font-size: 1.1rem;
                color: white;
            }
        }
    }

   
   
}

.about{
    display: flex;
    margin:100px;
    .about-img{
        flex:1;
        img{
            height: 350px;
        }
    }
    .about-content{
        flex:1;
        margin: 80px;
        margin-right: 0px;
        margin-top: 40px;
        button{
            margin-top: 20px;
            margin-left: 20px;
            text-transform: capitalize;
        }
    }
}

.why-us{
    display: flex;
    margin:100px;
    .why-us-img{
        flex:1;
        .items{
            .item{
                div{
                    display: flex;
                }
                .content{
                    .title{
                        margin: 20px 0;
                        color:white;
                        font-weight:bold;
                        font-size: 25px;
                        text-align: center;
                    }
                    button{
                        background-color:white;
                        color: black;
                        font-weight: 800;
                        font-size: 25px;
                    }
                }
            }
            .item1{
                .content{
                    background: orangered;
                }
                .img{
                    margin-bottom: 30px;
                    border-left: 1px solid grey;
                    border-bottom: 1px solid grey;
                }
                
            }
            .item2{
                .content{
                    background: green;
                }
                .img{
                    margin-top: 30px;
                    border-top: 1px solid grey;
                    border-right: 1px solid grey;
                }
            }
        }
    }
    .why-us-content{
        flex:1;
        margin: 80px;
        margin-bottom: 0px;
        margin-left: 0;
        margin-top: 40px;
        .content{
            .cards{
                margin:20px 0;
                padding: 25px 10px;
                .card-icon{
                    margin: 10px;
                    i{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        color: orangered;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        box-shadow:  5px 5px 14px #e6e6e6, 
                        -5px -5px 14px #ffffff;
                    }
                }
                .card-title{
                    font-weight: bold;
                    font-size: 18px;
                    color: black;
                }
                .card-content{
                    margin: 0 20px;
                    font-weight: 500;
                    .card-detail{
                        margin-top: 10px;
                    }
                }
            }
            .cards:hover{
                user-select: none;
                transition: .5s;
                cursor: pointer;
                box-shadow:  5px 5px 14px #d4d4d4, 
                -5px -5px 14px #ffffff;
            }
            .cards:hover .card-icon i{
                background-color: orangered;
                color: white;
                transition: .5s;
            }
        }
    }
   
}

.Services{
    padding :30px 30px;
    text-align: center;
    .overlay-design{
        .overlay{
            position:relative;
            
        }
        .content{
            margin: 50px 0;
            .material-icons{
                font-size: 50px;
                color:orangered
            }
            .content-title{
                font-size :30px;
                font-weight: bold;
                position: relative;
                text-align: left;
                margin-top: 30px;
            }
            .content-title::before{
                content:'';
                position: absolute;
                width: 15%;
                height: 3px;
                bottom:-18px;
                background-color:orangered;
            }
            .content-body{
                text-align: left;
                margin:30px 0 ;
            }
        }
    }
}

.contacts{
    background-color: rgb(31, 36, 44);
    color: white;
    padding:  30px 30px;
    .menus{
        .items{
            display: flex;
            align-items: flex-start;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
                margin:50px 0;
                font-weight:600;
                .main-title{
                    font-size: 25px;
                }
                .content{
                    margin-top: 30px;
                    div{
                        margin: 5px 0;
                    }
                }
            
            }
            .sub-contacts{
                .material-icons{
                    padding-right: 10px;
                }
            }
            .sub-subscribe{
                input{
                    color:white;
                }
                input[type=email]:not(.browser-default):focus:not([readonly]){
                    border-bottom : 2px solid white ;
                    box-shadow:0 0 white ;
                }
                
            }
        }
        
    }
    .copyright{
        padding: 30px 0;
        color:wheat
    }
}