@import 'materialize';

.solarSolution{
    font-weight: 600;
    .container{
        width:80%;
        .content div:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .content img{
            margin:0 5px;
            cursor: pointer;
        }
    }
}

.banner{
    .container{
        width: 80%;
        .content{
            .phone{
                div img{
                    margin: 0 10px;
                }
                .time{
                    font-weight: bold;
                }
            }
            .button{
                box-sizing: border-box;
            }
            .button button{
                position: relative;
                width: 100%;
                margin: 5px 20px;
                text-transform: capitalize;
                z-index: 1;
                font-weight: bold;
               
            }
            .button button:hover::before{
                width: 100%;
                transition:1s;
                transition-timing-function: ease-in-out;
            }
            .button button::before{
              content: " ";
              position: absolute;
              width: 0%;
              height: 100%;
              background-color: rgb(2, 95, 95);
              left: 0;
              top:0;
              z-index: -1;
            }
        }
    }
}
.menus{
    .container{
        width:80%;
        background-color: rgb(79, 79, 252);
        color:white;
        .menu{
            position: relative;
            margin: 15px 20px;
            font-weight: bold;
            border-bottom:1px solid transparent;
            cursor: pointer;
        }
       .menu:hover::before{
            transition: 1s;
            width:50%;
            border-bottom:1px solid white;
            cursor: pointer;
       }
       .menu::before{
           content: '';
           position: absolute;
           width: 0%;
           height:100%;
           background-color: transparent;
           border-bottom: 1px solid white;
       }
    }
}